.hello{
    background-color: rgb(80, 12, 12);
}

* {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  @font-face {
    font-family: "ManropeMedium";   /*Can be any text*/
    src: local("Manrope-Medium"),
      url("./components/fonts/Manrope-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "ManropeLight";   /*Can be any text*/
    src: local("Manrope-Light"),
      url("./components/fonts/Manrope-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "ManropeRegular";   /*Can be any text*/
    src: local("Manrope-Regular"),
      url("./components/fonts/Manrope-Regular.ttf") format("truetype");
  }